.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title a {
    color: #0aadff;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.searchContainer:not(:last-child) {
     margin-bottom: 10px;
 }

.searchTerm {
    border: 3px solid #0aadff;
    padding: 5px;
    height: 36px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.searchTerm.number {
    width: 100px;
}

.searchTerm:first-child:not(:last-child) {
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.searchTerm:last-child:not(:first-child) {
    border-radius: 0 5px 5px 0;
}

.searchButton {
    width: 100px;
}

.error {
    color: red;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1350px;
    width: 100%;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        /* flex-direction: column; */
        margin-top: 2rem;
    }
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

@media (max-width: 600px) {
    .card {
        margin: 0.5rem 0;
        padding: 0.7rem;
    }
}

.moreButton {
    width: 150px;
}
