.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    border: 1px solid #0aadff;
    background-color: #0aadff;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px;
    cursor: pointer;
    font-size: 20px;
}

.button:disabled {
    opacity: 0.6;
}
